extends layout

block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-red.w3-margin-top
                h3= "Classe "+ lista.nivel
            table.w3-table-all
                tr
                    th Codigo
                        td= lista.codigo
                tr
                    th Titulo
                        td= lista.titulo
                tr
                    th Status
                        td= lista.status
        .w3-card-4
            header.w3-container.w3-red.w3-margin-top
            h3 Descendencia:
            table.w3-table-all
                tr
                    th Titulo
                    th Codigo
                each pai in a
                        tr
                            td= pai.titulo
                            td
                                a(href= "http://localhost:5666/classe/" +pai.codigo)= pai.codigo
        
    
    footer.w3-container.w3-red.w3-margin-top  Gerado por Mariana Pereira :: 2021-Janeiro
            a(href='/')
                button.w3-button.w3-white.w3-margin Voltar